# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
server/.venv/

# Django
*.log
staticfiles/
media/

# Environment variables
.env

# Editor / OS
.vscode/
.idea/
.DS_Store
